<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StalkRSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <StalkRSS.Properties.Settings>
            <setting name="ProxyURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPass" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxySwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PubDateSwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="HasSetSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasEventsShow" serializeAs="String">
                <value>True</value>
            </setting>
        </StalkRSS.Properties.Settings>
    </userSettings>
</configuration>
